@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.navbar-container{
    margin: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 10px 40px 10px 40px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
}

/*
=========================================================== 
Mobile Navbar toggle
=========================================================== 
*/

.navbar-toggle{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #65c9ff;
    border-radius: 30px;
    gap: 4px;
}

.navbar-toggle span{
    height: 3px;
    width: 50%;
    background: #fff;
    transition: 0.25s ease-in-out;
}

/* Closed Navbar toggle spans */
.navbar-toggle span:nth-child(1){
    top: 16px;
}
.navbar-toggle span:nth-child(2){
    top: 22px;
}
.navbar-toggle span:nth-child(3){
    top: 28px;
}

/* Open Navbar toggle spans */
.navbar-toggle.open span:first-child{
    transform: rotate(45deg);
    transform-origin: left center;
    background: #fff;
    margin-left: 7px;
    margin-top: 0px;
}
.navbar-toggle.open span:nth-child(2){
    opacity: 0;
    background: #000;
}
.navbar-toggle.open span:last-child{
    transform: rotate(-45deg);
    transform-origin: left center;
    background: #fff;
    margin-top: 4.5px;
    margin-left: 5px;
}


.navbar-header{
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 84px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(101,201,255);
    animation: navbarHeaderSlide .5s forwards;
    transform-origin: top;
}

@keyframes navbarHeaderSlide{
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

.navbar-header-logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0px 0px 40px 0px rgb(255, 255, 255, 1);
}
.navbar-header h1{
    margin: 0;
    color: #f3c430;
    -webkit-text-stroke: 2px #000;
    font-family: Carter One;
}
.navbar-header h4{
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Carter One;
}

.navbar-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.navbar-header-item{
    text-decoration: none;
    font-size: 20px;
    color: inherit;
    font-family: Russo One; 
}

.navbar-header-item:active{
    color: #fff;
}

.navbar-header-hide {
    display: none;
}

.navbar-vcf-btn{
    font-size: 15px;
    cursor: pointer;
    background: none;
    color: #000;
    font-family: Carter One;
    border: 2px solid #000;
    border-radius: 40px;
    padding: 6px;
    transition: all .3s ease;
}
.navbar-vcf-btn:hover{
    scale: 1.1;
    color: #000;
    transform: rotate(-4deg);
    background: #f3c430;
}

/* 
===========================================================
End of Mobile Navbar
=========================================================== 
*/

.nav-logo {
    width: 75px;
    height: auto;
}

#navbar-login-btn {
    border: 2px solid rgb(101, 201, 255);
    border-radius: 20px;
    color: rgb(101, 201, 255);
    cursor: pointer;
}

#navbar-login-btn:hover {
    background-color: rgb(101, 201, 255);
    transition: ease 0.5s;
    color: #fff;
}

.navbar-container ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: Russo One;
    list-style: none;
    text-decoration: none;
    gap: 40px;
}

.navbar-container li:hover {
    transition: ease 0.5s;
    color: rgb(101, 201, 255);
}

.navbar-container li{
    color: #000;
    padding: 10px;
    cursor: pointer;
}
#navbar-link{
    text-decoration: none;
}

/*
=========================================================== 
Start of homepage CSS
=========================================================== 
*/

.homepage-container-web{
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.homepage-container-devices{
    display: none;
}

.homepage-container {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.homepage-leftblock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage-introduction {
    font-size: 20px;
}

.homepage-title {
    font-family: Luckiest Guy;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    color: #f3c430;
    -webkit-text-stroke: 1.5px #000;
}

.homepage-subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepage-subtitle {
    margin: 0;
    font-size: 30px;
    font-family: Carter One;
}

.homepage-subtitle-texts {
    margin-left: 8px;
    color: rgb(101, 201, 255);
}

.homepage-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* border: 3px solid black; */
    box-shadow: 20px 10px 40px 5px rgb(0, 0, 0);
    margin-left: 20px;
}

/*
=========================================================== 
Start of About Section 
=========================================================== 
*/

.about-container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(101,201,255,1) 25%, rgba(101,201,255,1) 50%, rgba(101,201,255,1) 75%, rgba(255,255,255,1) 100%);
      
}

#about {
    scroll-margin-top: 95px;
}

.about-ending-container {
    width: 100%;
    height: 10%;
    background-color: #fff;
}

.about-title {
    font-size: 40px;
    font-family: Luckiest Guy;
    letter-spacing: 8px;
    -webkit-text-stroke: 1px #fff;
    box-shadow: 0px 10px 0px 0px #f3c430;
}

.about-container p{
    font-size: 20px;
    font-family: Russo One;
    max-width: 900px;
    text-align: center;
}

.about-badge{
    width: 120px;
    height: 120PX;
    object-fit: cover;
    margin: 4px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 0px #000;
}

/*
=========================================================== 
 Start of Skills Section
 ========================================================== 
 */

.skills-container {
    width: 100%;
    height: 90%;
    z-index: 0;
    position: relative;
}

#skills {
    scroll-margin-top: 72px;
}

#skills-particles {
    height: stretch;
}

.skills-large-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    border: 2px solid #000;
    border-radius: 40px;
    background-color: #fff;
    padding: 30px;
    width: 175px;
    z-index: 1;
}

.skills-large-container:hover{
    scale: 1.1;
    transition: all .3s ease-in-out;
}

#html-container{
    left: 3rem;
    top: 2rem;
}
#css-container{
    left: 4rem;
    top: 20rem;
}
#git-container{
    left: 22rem;
    top: 9rem;
}
#react-container{
    left: 31rem;
    top: 21rem;
}
#js-container{
    left: 40rem;
    top: 1.5rem;
}
#node-container{
    left: 50rem;
    top: 14rem;
}
#aws-container{
    left: 65rem;
    top: 2rem;
}
#linux-container{
    left: 67rem;
    top: 21rem;
}

.progress {
    width: 100%;
    height: 16px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 10px;
    border: 1.5px solid #000;
}

.progress .progress-bar{
    height: 100%;
    background-color: #65c9ff;
    border-radius: 10px;
    position: relative;
    transition: all 3s ease-in-out;
}

#html-data-set{
    width: 75%;
}
#css-data-set{
    width: 65%;
}
#git-data-set{
    width: 60%;
}
#react-data-set{
    width: 77%;
}
#js-data-set{
    width: 85%;
}
#node-data-set{
    width: 35%;
}
#aws-data-set{
    width: 45%;
}
#linux-data-set{
    width: 70%;
}

.progress-bar span{
    position: absolute;
    left: 35%;
    top: 0px;
    font-weight: 700;
    color: #000;
}

/* 
===========================================================
Start of Projects Section
===========================================================
*/

.projects-container-web{
    z-index: 0;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(101,201,255,1) 25%, rgba(101,201,255,1) 50%, rgba(101,201,255,1) 75%, rgba(255,255,255,1) 100%);
}
#projects {
    scroll-margin-top: 75px;
}

.projects-container-mobile{
    z-index: 0;
    position: relative;
    height: stretch;
    width: 100%;
    padding-top: 174px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(101,201,255,1) 25%, rgba(101,201,255,1) 50%, rgba(101,201,255,1) 75%, rgba(255,255,255,1) 100%);
}

.projects-panel-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.projects-title{
    font-size: 40px;
    font-family: Luckiest Guy;
    letter-spacing: 8px;
    -webkit-text-stroke: 1px #fff;
    box-shadow: 0px 10px 0px 0px #f3c430;
}

.projects-panel{
    width: 17rem;
    height: 17rem;
    margin: 4px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 0px 4px 0px 1px rgb(0, 0, 0, .5);
}

.projects-panel:hover{
    scale: 1.020;
}
.projects-panel:hover .projects-panel-content h2{
    scale: 1.020;
}
.projects-panel:hover #projects-folder{
    transition: all .2s ease-in-out;
    fill: #f3c430;
}

.projects-panel-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    gap: 100px;
}

#projects-folder{
    width: 40px;
    height: 40px;
}
#projects-github{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#projects-github:hover{
    fill: #f3c430;
}

.projects-panel-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects-panel-content h2{
    margin: 0;
    font-family: Carter One;
    font-weight: 100;
    box-shadow: 0px 10px 0px 0px #f3c430;
}
.projects-panel-content p{
    font-family: Playfair Display;
    font-weight: 590;
    text-align: center;
}
.projects-panel-content a{
    font-size: 16px;
    padding: 6px;
    font-family: Russo One;
    border-radius: 30px;
    margin: 0;
    border: 2px solid #000;
    background-color: #fff;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.projects-panel-content a:hover{
    transition: all .2s ease-in-out;
    background-color: #f3c430;
}

.projects-panel-endtags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}
.projects-panel-endtags h4{
    padding: 4px;
    border: 1px solid #000;
    background-color: #f3c430;
}

/* 
===========================================================
Start of ContactMe section
===========================================================
*/

.contact-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.contact-container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container-footer a{
    color: #000;
    text-decoration: none;
}
.contact-container-footer a:hover{
    color: #65c9ff;
}

.contact-box{
    width: 60%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border-radius: 40px;
    background-color: #f3c430;
    box-shadow: 0px 0px 20px 0px #000;
}

.contact-box h1{
    font-family: Carter One;
}

#contact-me-btn{
    font-size: 20px;
    cursor: pointer;
    background: none;
    font-family: Carter One;
    border: 2px solid #000;
    border-radius: 40px;
    padding: 10px;
    transition: all .3s ease;
}
#contact-me-btn:hover{
    scale: 1.2;
    color: #000;
    transform: rotate(-4deg);
    background: rgb(101,201,255);
}
#linkedinprofile-svg{
    width: 50px;
    transition: all .3s ease;
    cursor: pointer;
}
#linkedinprofile-svg:hover {
    fill: #0077b5;
}

/*
===========================================================
@Media's for devices
=========================================================== 
*/

@media only screen and (max-width: 1024px){
    /* Navbar */
    .navbar-container{
        background: rgb(255,255,255);
        justify-content: space-between;
    }
    .navbar-toggle{
        display: flex;
    }
    .navbar-container ul{
        display: none;
    }
    .nav-logo{
        width: 60px;
        left: 0;
    }
    /* Homepage */
    .homepage-container-web{
        display: none;
    }
    .homepage-container-devices{
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }
    .homepage-image{
        display: none;
    }
    .homepage-leftblock{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homepage-title {
        text-align: center;
    }
    .homepage-subtitle-container{
        flex-wrap: wrap;
        align-items: center;
    }
    /* About container */
    .about-container{
        height: 100%;
    }
    .about-ending-container{
        display: none;
    }
    .about-title{
        font-size: 30px;
        text-align: center;
        letter-spacing: 0px;
    }
    .about-container p{
        max-width: 300px;
    }
    .about-badge{
        width: 100px;
        height: 100px;
    }
    .about-ending-container{
        height: 15%;
    }
    /* Skills objects */
    #skills-particles{
        display: none;
    }
    .skills-objects{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 10px;
        top: 1rem;
        width: 100%;
        z-index: 2;
    }
    .skills-large-container{
        padding: 15px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        z-index: 2;
    }
}


@media only screen and (max-width: 800px){
    .projects-container-web{
        display: none;
    }
    .projects-container-mobile{
        display: flex;
    }
    .projects-title{
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
    }
}