@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* 
===========================================================
Start of Password Reset Page
===========================================================
*/

.password-reset-page-container{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.password-reset-page-box{
    width: 400px;
    height: auto;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px #000;
    background-color: #65c9ff;
}
.display-none{
    display: none;
}

/*
=============================
Start of Password Reset form 
=============================
*/
.password-reset-page-box h1{
    color: #f3c430;
    margin: 0;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px #000;
    font-family: Carter One;
}

.password-reset-page-box form{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*
=============================
Form inputs 
=============================
*/
.password-reset-form-input {
    width: 75%;
    padding: 4px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 1;
}
/*
=============================
Email Address label
=============================
*/
#email-label{
    position: absolute;
    display: block;
    top: 0px;
    left: 48px;
    font-size: 20px;
    transition: .2s;
    z-index: 0;
}
#password-reset-email::placeholder{
    opacity: 1;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.password-reset-form-input:focus + #email-label{
    color: #f3c430;
    position: absolute;
    top: -12px;
    left: 48px;
    font-size: 15px;
    transition: .2s;
}
.password-reset-form-input:valid + #email-label{
    top: -12px;
    color: #000;
    font-size: 15px;
}

/*
=============================
Submit button 
=============================
*/
.password-reset-form-submit-btn{
    width: 150px;
    font-size: 20px;
    padding: 6px;
    font-family: Carter One;
    background: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    transition: all .3s ease;
    cursor: pointer;
}
.password-reset-form-submit-btn:hover{
    scale: 1.1;
    transform: rotate(-4deg);
    color: #000;
    background: #f3c430;
}
#password-reset-status{
    margin: 0;
    color: green;
    font-family: Carter One;
}
#password-reset-error{
    margin: 0;
    color: #ff0000;
    font-family: Carter One;
}

/* 
=============================
Login Form route buttons
=============================
*/

.login-page-box-route{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.login-page-box-route h3{
    color: #f3c430;
    -webkit-text-stroke: .5px #000;
    font-family: Carter One;
}
#login-page-route-btn{
    width: 150px;
    font-size: 20px;
    padding: 6px;
    font-family: Carter One;
    background: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    transition: all .3s ease;
    cursor: pointer;
}
#login-page-route-btn:hover{
    scale: 1.1;
    transform: rotate(4deg);
    color: #000;
    background: #f3c430;
}

/*
===========================================================
Error Label
=========================================================== 
*/

#error-label{
    background-color: rgb(255, 0, 0, .3);
    color: rgb(255, 0, 0);
    padding: 1rem;
    border-radius: 5px;
    font-family: Carter One;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
}

/*
===========================================================
@Media's for devices
=========================================================== 
*/

@media only screen and (max-width: 1024px){
    .password-reset-page-box{
        width: 80%;
    }
}