@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Carter+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* 
===========================================================
Start of Register Page
===========================================================
*/

.register-page-container{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.register-page-box{
    width: 400px;
    height: auto;
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 5px #000;
    background-color: #65c9ff;
}

/*
=============================
Start of Register form 
=============================
*/
.register-page-box h1{
    color: #f3c430;
    margin: 0;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px #000;
    font-family: Carter One;
}

.register-page-box form{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*
=============================
Form inputs 
=============================
*/
.register-form-input {
    width: 75%;
    padding: 4px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #000;
    background: transparent;
    z-index: 1;
}
/*
=============================
confirmPassword label
=============================
*/
#register-confirmPassword-label{
    position: absolute;
    display: block;
    top: 130px;
    left: 48px;
    font-size: 20px;
    transition: .2s;
    z-index: 0;
}
#register-confirmPassword::placeholder{
    opacity: 1;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.register-form-input:focus + #register-confirmPassword-label{
    color: #f3c430;
    position: absolute;
    top: 118px;
    left: 48px;
    font-size: 15px;
    transition: .2s;
}
.register-form-input:valid + #register-confirmPassword-label{
    top: 118px;
    color: #000;
    font-size: 15px;
}

/*
=============================
Email Address label 
=============================
*/
#register-email-label{
    position: absolute;
    display: block;
    top: 0px;
    left: 48px;
    font-size: 20px;
    transition: .2s;
    z-index: 0;
}
#register-email::placeholder{
    opacity: 1;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.register-form-input:focus + #register-email-label{
    color: #f3c430;
    position: absolute;
    top: -12px;
    left: 48px;
    font-size: 15px;
    transition: .2s;
}
.register-form-input:valid + #register-email-label{
    top: -12px;
    color: #000;
    font-size: 15px;
}


/*
=============================
Password label 
=============================
*/
#register-password-label{
    position: absolute;
    display: block;
    top: 65px;
    left: 48px;
    font-size: 20px;
    transition: .2s;
    z-index: 0;
}
.register-form-input:focus + #register-password-label{
    color: #f3c430;
    position: absolute;
    top: 53px;
    left: 48px;
    display: block;
    font-size: 15px;
    transition: .2s;
}
.register-form-input:valid + #register-password-label{
    color: #000;
    position: absolute;
    top: 53px;
    left: 48px;
    display: block;
    font-size: 15px;
}
#register-password::placeholder{
    opacity: 1;
    color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*
=============================
Submit button 
=============================
*/
.register-form-submit-btn{
    width: 150px;
    font-size: 20px;
    padding: 6px;
    font-family: Carter One;
    background: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    transition: all .3s ease;
    cursor: pointer;
}
.register-form-submit-btn:hover{
    scale: 1.1;
    transform: rotate(-4deg);
    color: #000;
    background: #f3c430;
}
/*
===========================================================
Register Error Label
=========================================================== 
*/

.register-error-label{
    background-color: rgb(255, 0, 0, .3);
    color: rgb(255, 0, 0);
    padding: 1rem;
    margin-bottom: 8px;
    border-radius: 5px;
    font-family: Carter One;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
}

/* 
=============================
Login Form route buttons
=============================
*/

.login-page-box-route{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.login-page-box-route h3{
    margin: 0;
    color: #f3c430;
    -webkit-text-stroke: .5px #000;
    font-family: Carter One;
}
#login-page-route-btn{
    width: 150px;
    font-size: 20px;
    padding: 6px;
    font-family: Carter One;
    background: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    transition: all .3s ease;
    cursor: pointer;
}
#login-page-route-btn:hover{
    scale: 1.1;
    transform: rotate(4deg);
    color: #000;
    background: #f3c430;
}
.login-page-box-route h4{
    margin: 0;
    color: #f3c430;
    -webkit-text-stroke: .5px #000;
    font-family: Carter One;
    cursor: pointer;
    transition: all .2s ease;
}
.login-page-box-route h4:hover{
    scale: 1.1;
}

/*
===========================================================
Start of information modal
=========================================================== 
*/
.info-modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color: rgb(0, 0, 0, .5);
}
.info-modal-box{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    background-color: #fff;
}
.info-modal-box h1{
    color: #f3c430;
    margin: 0;
    text-align: center;
    -webkit-text-stroke: 1px #000;
    font-family: Carter One;
}
.info-modal-box p{
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Russo One;
    text-align: center;
}
.info-modal-box button{
    padding: 1vh;
    margin: 4px;
    font-size: 16px;
    font-family: Carter One;
    color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}
.info-modal-box button:hover{
    scale: 1.1;
    background-color: #ff0000;
}

/*
===========================================================
@Media's for devices
=========================================================== 
*/

@media only screen and (max-width: 1024px){
    .register-page-box{
        width: 80%;
    }
    .info-modal-box{
        width: 80%;
        height: auto;
    }
}